body{
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
}
a{
    font-weight:italic ;
    color:darkblue;
    text-align: center;
    font-size: 15px;
  }
td{
    transition: transform 0.3s;
    cursor: pointer;
}

td:hover{
    transform: scale(1.5);
}

nav{
    position: sticky;
    top: 0;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color:white;
    text-decoration: none;
}
.menu-horizontal > li:hover {
    background-color:red;
}
.menu-vertical{
position: absolute;
display: none;
list-style: none;
width: 200px;
background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover {
    background-color: black;
}
.menu-vertical li a{
    display:block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
h1{ /*ESTO ES PARA LOS TITULOS*/
    font-weight:bold ;
    color:lightseagreen;
    text-align: center;
    font-size: 25px;
}
p{ /*ESTO ES PARA LOS PARRAFOS*/
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: black;
}
img{  /*ESTO ES PARA LA CONFIGURACIÓN BÁSICA DE IMAGENES*/
    padding: 10px; 
    max-width: 100px;
    max-height: 100px;
  }
#nave{  /*ESTO ES PARA LA CONFIGURACIÓN DE LA IMAGEN DE LA BARRA DE NAVEGACIÓN*/
    max-width: 30px;
    max-height: 30px;
    padding: 0px; 
}
#header{  /*ESTO ES PARA LA IMAGEN DE LA CABECERA*/
    padding: 0px; 
    max-width: 300px;
    max-height: 300px;
}
#modulares{
    font-weight:bold ;
    color: #e37b30;
    text-align: center;
    font-size: 25px;
}
table{
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
tr, td {
    border: 1px solid grey;
    padding: 8px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  }
#td{
    font-weight:bold ;
    color:rgb(17, 77, 74);
    text-align: center;
    font-size: 15px;
}
footer {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#num {
    font-weight:normal ;
    color:rgba(0, 0, 0, 0.658);
    text-align: left;
    font-size: 20px;
}
  .seccionizda {
    text-align: left;
}
  
  .secciondcha {
    text-align: right;
}